<%- include('templates/header') %>

      <div class="content-app" id="index">
         <div class="row" id="messageArea">
            <div class="col-md-4" id="sidebar">
               <ul style="list-style-type:square;">
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-md" href="/chats" role="button">Chats
                        <i class="fa fa-comment ml-2"></i></a></li>
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-md" href="/friendlist" role="button">View
                        Friend List<i class="fa fa-th-list ml-2"></i></a></li>
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-md" href="/addfriend" role="button">Add
                        Friend<i class="fa fa-hacker-news ml-2"></i></a></li>
                  <li><a class="btn btn-outline-primary waves-effect waves-light btn-md" href="/notifications" role="button">notifications  
                    <span class="badge badge-primary badge-pill pull-right">2</span></a></li>
               </ul>
            </div>
            <div class="col-md-8">
               <div class="app-content">
                  <h2>Notifications</h2>
                  <div  class="card">
                  <ul class="list-group">
                   
                  <%  if (notifications.length) { %>
                     <% notifications.forEach(function(noti){   %>
                        <li class="list-group-item"><a  href="<%= noti.link %>"><%= noti.message  %> </a>
                           <span class="noti-time"><%= timeSince(new Date().getTime() - noti.time)  %></span></li>
                     <%  })  %>
                  <% }  %>
                  <%  if (!notifications.length) { %>
                     <li class="list-group-item">No notifications yet..</li>
                  <% }  %>
                
                  </ul>
                </div>
               </div>
            </div>
         </div>


         <footer>
            &copy Twoexpress
         </footer>
      </div>


      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="js/socket.io.js"></script>
      <script src="vendor/popper.js/umd/popper.min.js"> </script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
      <script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/front.js"></script>
      <script src="js/profile.js"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="md/js/mdb.min.js"></script>
      <!-- Initializations -->
      <script type="text/javascript">
         // Animations initialization
         new WOW().init();
      </script>

</body>



</html>